# Two consecutive asterisks ("**") in patterns matched against
#   full pathname may have special meaning:
#
# A leading "**" followed by a slash means match in all directories.
# For example, "**/foo" matches file or directory "foo" anywhere,
# the same as pattern "foo". "**/foo/bar" matches file or directory
# "bar" anywhere that is directly under directory "foo".
#
# A trailing "/**" matches everything inside. For example, "abc/**"
# matches all files inside directory "abc", relative to the location
# of the .gitignore file, with infinite depth.
#
# A slash followed by two consecutive asterisks then a slash matches zero or
# more directories. For example, "a/**/b" matches "a/b", "a/x/b", "a/x/y/b" and so on.
#
# Other consecutive asterisks are considered regular asterisks and will
# match according to the previous rules.

# If the pattern ends with a slash, it is removed for the purpose of the
# following description, but it would only find a match with a directory.
# In other words, foo/ will match a directory foo and paths underneath it,
# but will not match a regular file or a symbolic link foo (this is consistent
# with the way how pathspec works in general in Git).

# These may not be right for every project, or once we publish
# compilation output
packages/**/build/
packages/**/out/
# packages/**/dist/
# packages/**/lib/

.tmp/
tmp/

config/**/lib/
.lerna_backup/


# Logs
logs/
*.log
*-debug.log
*-error.log

# Scratch file for running test code.
scratch.ts


# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov/

# Coverage directory used by tools like istanbul
coverage/

# nyc test coverage
.nyc_output/

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt/

# Bower dependency directory (https://bower.io/)
bower_components/

# Mac OS file
.DS_Store

# Editors and IDEs
.vscode/
.project
.project/

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
**/build/Release/

# Dependency directories
node_modules/
jspm_packages/

# Fusebox cache
**/.fusebox/cache/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm/

# Yarn package manager
yarn.lock

# CLI update files
.update/
*.json.update

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env




